@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html{
    background-color: #696969;
    font-family: "Nunito Sans";
}

body{
    background-color: #000;
    color: #fff;
    
}
